awswrangler==2.3.0
pydbtools==3.0.0
mojap-metadata[arrow, etl-manager] @ git+https://github.com/moj-analytical-services/mojap-metadata@v1.0.0
arrow-pd-parser @ git+https://github.com/moj-analytical-services/mojap-arrow-pd-parser@v0.1.0
jupyterlab
