awswrangler==2.3.0
mojap-metadata[arrow, etl-manager] @ git+https://github.com/moj-analytical-services/mojap-metadata@dev
arrow-pd-parser @ git+https://github.com/moj-analytical-services/mojap-arrow-pd-parser@v0.1.0
jupyterlab
