awswrangler==1.10.1
mojap-metadata[arrow] @ git+https://github.com/moj-analytical-services/mojap-metadata@dev
arrow-pd-parser @ git+https://github.com/moj-analytical-services/mojap-arrow-pd-parser@main
jupyterlab
